---
import Layout from "../layouts/Layout.astro";
---

<Layout title="団体について｜ut-stuttering.com">
  <div class="margin-contents text-color text-font" style="line-height: 2.05;">
    <span class="midashi">団体について</span>
    <div style="height: 20px;"></div>
    <p class="midashi2">吃音とは</p>
    <div style="height: 10px;"></div>
    <p>&emsp;吃音とは、言葉が流暢に出ず、つかえてしまう言語障害の一種です。吃音の有症率は全人口のおよそ1%と言われ、国や地域を問わず、多くの吃音者がいます。
      <br>
      <br>
      &emsp;吃音については、長年たくさんの研究や調査が行われ、明らかにされてきたことも多々あります。しかし、その原因や本態については分からないことも多く、治すための確実な治療法は確立されていません。
      <br>
      <br>
      &emsp;また、吃音そのものが世間にまだあまり知られていないこともあり、周囲からの無理解に苦しむ吃音者も数多くいます。「吃音は気の持ちようだ」などと言った誤解や、また、治療法を謳った詐欺まがいの商法や疑似科学が流布しているのも現状です。</p>
    <br />
    <p class="midashi2">当団体設立の経緯</p>
    <div style="height: 10px;"></div>
    <p>&emsp;大学生時代は、サークルやゼミ、また就職活動などで多くの人と関わる時期です。その中で、吃音者の学生が、思春期や高校時代とは違う形で、吃音について悩んだり、考えたりすることも、あるのではないかと思います。
      <br>
      <br>
      &emsp;私自身が、大学入学後、吃音について悩み始めた時期に、最もありがたかったのが、自分以外の吃音者との交流でした。大学外の吃音者の集まりやグループに参加し、色々な考えの方々と吃音について考えたことが、とても大きなことだったと思っています。学外で様々な人と触れながら、吃音について向かい合ううちに、大学内にも、学生のための吃音組織を作りたいと考えるようになりました。</p>
    <br />
    <p class="midashi2">当団体について</p>
    <div style="height: 10px;"></div>
    <p>&emsp;東京大学スタタリングは、2015年春に設立した吃音者のための学生サークルです。吃音者同士が交流し、吃音について理解を深めることを目的としています。
      <br>
      <br>
      &emsp;一人で悩むのも大切なことですが、仲間と一緒に考え、吃音について話し合っていきましょう。他の当事者との交流は、自分自身の吃音や悩みについて向き合う上で、大きな助けになることもあるはずです。吃音に対する向き合い方や考え方は当事者間でもかなりの差があります。それぞれの意見を尊重し合いながら、参加者一人一人が、自身の吃音と向き合うために役立てるようなサークルにしたいと思っています。他大学の方や、非当事者の方で吃音について理解を深めたいという方の参加も、歓迎します。</p>
    <br />
    <p class="midashi2">活動について</p>
    <div style="height: 10px;"></div>
    <p class="link">&emsp;吃音者学生同士の交流会や、当事者研究会、勉強会などを主な活動として予定しております。具体的な活動内容は、参加者で話し合って決定していきます。日程や場所については、メンバーの都合を照らし合わせた上で、一週間前までに、メールやライングループ、当HPなどにて告知いたします。興味をもたれた方は、当HPのお問い合わせフォームか、もしくは、[ <a href="mailto:ut-stuttering[at]outlook.jp"
      >ut-stuttering[at]outlook.jp</a
    >
    ]&nbsp;まで、お気軽にご連絡ください。よろしくお願いします。</p>
    <br />
    <p style="margin-bottom: 80px;">2015年春<br>
      東京大学スタタリング代表&emsp;いんこ</p>
    <!-- <p style="font-size: 19px;">Links</p>
    <p class="link">
      ・E-mail [ <a href="mailto:ymstar4160@gmail.com"
        >ymstar4160 (at) gmail.com</a
      >
      ]
    </p>
    <p class="link">
      ・X (Twitter) [ <a href="https://x.com/nichi_aka_"
        >https://x.com/nichi_aka_</a
      >]
    </p>
    <p class="link">
      ・GitHub [ <a href="https://github.com/luetsrr"
        >https://github.com/luetsrr</a
      >
      ]
    </p>
    -->
  </div>
</Layout>
