---
import Layout from "../layouts/Layout.astro";
---

<Layout title="活動実績・東京大学スタタリング">
  <div class="margin-contents text-color text-font" style="margin-bottom: 80px;">
    <span class="midashi mb-4">活動実績</span>
    <div style="height: 20px;"></div>
    <p class="midashi2" style="font-weight: 700">2021年</p>
    <div style="height: 20px;"></div>
    <p>
      &emsp;2021年8月　京都大学の自主ゼミ『障害者のリアルに迫るゼミ』に、当サークルのメンバーらが参加・登壇しました。
      <br>
      <div style="height: 15px;"></div>
      &emsp;2021年6月　雑誌『悲劇喜劇』に、当サークル代表のいんこの文章が掲載されました。
      <br>
      <div style="height: 15px;"></div>
      &emsp;2021年4月　雑誌『SPA!』に、当サークル代表のいんこのインタビューが掲載されました。
      <br>
      <div style="height: 15px;"></div>
      &emsp;2021年4月　4月7日の朝日新聞の『耕論』に、当サークル代表のいんこのインタビューが掲載されました。
      <br>
      <br>
    </p>
      <div style="height: 20px;"></div>
      <p class="midashi2" style="font-weight: 700">2019年</p>
      <div style="height: 20px;"></div>
      <p>
        &emsp;2019年11月　主演の鈴木亮平さんの吃音の演技指導を、当サークル代表のいんこ（山田）が行った、白石和彌監督の映画『ひとよ』が公開されました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2019年10月　横浜市東小学校の『言葉と聞こえの教室』で、当サークル代表のいんこ（山田）がゲストとして講演をさせていただきました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2019年7月　大阪吃音教室が主宰する『第30回吃音親子サマーキャンプ』のスタッフとして、当サークルの代表のいんこ（山田）が参加をしました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2019年6月　言友会の関東ブロック大会で、当サークルのメンバー2人が、当事者研究会の分科会を担当しました。
        <br>
        <br>
      </p>
        <div style="height: 20px;"></div>
        <p class="midashi2" style="font-weight: 700">2018年</p>
        <div style="height: 20px;"></div>
        <p>
          &emsp;2018年12月　12月8日付の朝日新聞で、当サークルの代表のいんこ（山田）のインタビュー記事（『合理的配慮について考える』）が掲載されました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年12月　内閣府主宰の障害者週間のイベント『吃音とは ～「発達障害者支援施策」&「当事者研究」から～』で、当サークル代表のいんこ（山田）が、有楽町朝日ホールにて講演を行いました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年11月　千葉言友会で開催された『千葉吃音交流会』で、当サークルの代表のいんこ（山田）が、自分自身の体験の棚卸をし、当事者研究会を担当しました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年10月　横浜市東小学校の『言葉と聞こえの教室』で、当サークル代表のいんこ（山田）がゲストとして講演をさせていただきました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年10月　主演の高橋一生さんの吃音の演技指導の監修を、当サークル代表のいんこ（山田）が行った、大友啓史監督の映画『億男』が公開されました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年9月　東大先端研で、公開シンポジウム『どもる人たちの当事者運動を振り返る 伊藤伸二さんを囲んで』が開催されました。伊藤伸二さん（大阪吃音教室・日本吃音臨床研究会）、福島智教授（東京大学先端科学技術研究センターバリアフリー分野）、熊谷晋一郎准教授（同当事者研究分野）、山田舜也（いんこ・同大学院生・当サークル代表）が登壇しました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年7月　広島にて開催された吃音者の世界大会『吃音・クラタリング世界合同会議 in Japan 2018』吃音、当サークルのメンバーらが参加しました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年7月　当サークルの代表のいんこ（山田）が、東大先端研で、『志乃ちゃんは自分の名前が言えない』の上映会と公開シンポジウムを開催しました。原作者の押見修造さん、富田周太さん達と対話しました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年5月　当サークルの代表のいんこ（山田）のインタビューが、ニュース番組『Abema Prime』で流れました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年3月　当サークルの代表のいんこ（山田）が、吃音ラボのインタビューに答えました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2018年1月～2019年3月　当サークルの代表のいんこ（山田）が、東京言友会の三田例会（金曜例会）にて、例会を定期的に担当しました。
          <br>
          <br>
        </p>
        <div style="height: 20px;"></div>
        <p class="midashi2" style="font-weight: 700">2017年</p>
        <div style="height: 20px;"></div>
        &emsp;2017年12月11日　当サークルの代表のいんこ（山田）が、朝日新聞の『耕論』で、牛窪恵さん、トミヤマユキコさん、と一緒に『「若者の恋愛離れ」を考える』をテーマに答えたインタビューが掲載されました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年12月　当サークルの代表のいんこ（山田）が、8月に留学したイギリスの吃音事情についての報告文が、先端研のHPに掲載されました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年11月24日　当サークルが、駒場祭で、学術企画『こじらせ東大生の恋愛相談会』の運営に関わりました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年11月中旬　学苑社から発売される『成人吃音とともに』に、当サークルのメンバーらの顔写真やインタビューが掲載されました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年11月9日　当サークルの代表が、『吃音の考古学：演技の中動態としての吃音』というタイトルで、演技と吃音についてのワークショップを行いました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年11月3日～5日　『第51回言友会全国大会・吃音ワークショップ2017 in 福岡・志賀島』で、分科会を担当します。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年10月28日～29日　障害学会第14回大会で、当サークル代表のいんこ（山田）が、『吃音の当事者研究 二重スパイの吃音者』という題で発表を行いました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年10月19日　東京大学の授業『障害学特別演習』（福島智教官）で、吃音の当事者研究について発表しました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年10月9日　当サークル代表のいんこ（山田）が、東京言友会にて、『当事者研究で見えてきた新しい吃音の生きづらさ』という演題で吃音についての講演を行いました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年10月4日　NHKのハートネットTV『私たちの就活 吃音とともに生きる』で、当サークルのメンバーらが出演しました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年8月～　『看護教育』（医学書院）で連載されている『リズムとからだ』の中で、昨年行われたインタビューをもとにした記事が、掲載されています。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年8月　『臨床心理学 増刊号 みんなの当事者研究』（金剛出版）で、当サークルで行った吃音の当事者研究についての論考が掲載されました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年6月～7月　当サークルのメンバーらが、人間総合大学（埼玉県岩槻市）の授業『言語聴覚学概論』（言語聴覚士・梅本和正教官）で、吃音当事者のゲストスピーカーとして登壇しました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年6月　当サークル代表のいんこ（山田）が、こまば当事者研究会で吃音の当事者研究について発表をしました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年6月　当サークル代表のいんこ（山田）が、東大先端研オープンキャンパスで『吃音の当事者研究 二重スパイの曖昧な障害受容』という題で講演をしました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年5月　当サークル代表のいんこ（山田）が、吃音ラジオに出演しました。主に、演技と吃音の関係にして当事者研究した内容などをお話ししました。
        <br>
        <div style="height: 15px;"></div>
        &emsp;2017年2月4日　TBSの深夜番組『ニュースな二人』に、当サークルのメンバー2名が出演しました。サークルの紹介や、去年上演した『ことばがひらかれるとき』のVTRが流れました。
        <br>
        <br>
        <div style="height: 20px;"></div>
        <p class="midashi2" style="font-weight: 700">2016年</p>
        <div style="height: 20px;"></div>
        <p>
          &emsp;2016年11月27日　駒場祭『文三劇場』にて、演劇企画『ことばがひらかれるとき』を上演しました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2016年11月25日～27日　駒場祭『福祉系サークル合同展示』にて、ポスター展示を行いました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2016年10月18日　当サークル代表いんこ（山田）が、吃音についてのインタビューを受けました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2016年9月17日～19日　『第50回言友会全国大会・吃音ワークショップ2016 in 埼玉』で、当事者研究の分科会を担当しました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2016年9月2日　『第4回日本吃音・流暢性学会』にて、当サークルと埼玉言友会で開催した当事者研究の成果について発表しました。
          <br>
          <br>
        </p>
        <div style="height: 20px;"></div>
        <p class="midashi2" style="font-weight: 700">2015年</p>
        <div style="height: 20px;"></div>
        <p>
          &emsp;2015年4月25日　当サークル設立記念イベント・吃音学生交流会を開催
          <br>
          <div style="height: 15px;"></div>
          &emsp;2015年4月～　当サークルの代表のいんこ（山田）が、埼玉言友会で、吃音勉強会の担当をしてきました。
          <br>
          <div style="height: 15px;"></div>
          &emsp;2015年2月22日　公式HP作成
        </p>
  </div>
</Layout>