---
import Layout from "../layouts/Layout.astro";
---

<Layout title="団体について｜東京大学吃音研究会">
  <div class="margin-contents text-color text-font" style="line-height: 2.05;">
    <span class="midashi">当団体について</span>
    <div style="height: 20px;"></div>
    <p class="midashi2">吃音とは</p>
    <div style="height: 10px;"></div>
    <p>&emsp;吃音とは、言葉が流暢に出ず、つかえてしまう言語障害の一種です。吃音の有症率は全人口のおよそ1%と言われ、国や地域を問わず、多くの吃音者がいます。
      <br>
      <br>
      &emsp;吃音については、長年たくさんの研究や調査が行われ、明らかにされてきたことも多々あります。しかし、その原因や本態については分からないことも多く、治すための確実な治療法は確立されていません。
      <br><br>
    <p class="midashi2">当団体について</p>
    <div style="height: 10px;"></div>
    
    <p class="midashi2">活動について</p>
    <div style="height: 10px;"></div>
    
    <!-- <p style="font-size: 19px;">Links</p>
    <p class="link">
      ・E-mail [ <a href="mailto:ymstar4160@gmail.com"
        >ymstar4160 (at) gmail.com</a
      >
      ]
    </p>
    <p class="link">
      ・X (Twitter) [ <a href="https://x.com/nichi_aka_"
        >https://x.com/nichi_aka_</a
      >]
    </p>
    <p class="link">
      ・GitHub [ <a href="https://github.com/luetsrr"
        >https://github.com/luetsrr</a
      >
      ]
    </p>
    -->
  </div>
</Layout>
