---
import Layout from "../layouts/Layout.astro";
---

<Layout title="活動実績・東京大学吃音研究会">
  <div class="margin-contents text-color text-font" style="margin-bottom: 80px;">
    <span class="midashi mb-4">活動実績</span>
    
  </div>
</Layout>