---
import Layout from "../layouts/Layout.astro";
---

<Layout title="活動紹介・東京大学スタタリング">
  <div class="margin-contents text-color text-font" style="margin-bottom: 80px;">
    <span class="midashi mb-4">活動紹介</span>
    <div style="height: 20px;"></div>
    <p>&emsp;2024年現在、東京大学本郷キャンパス周辺で定期的に当事者研究会を開いています。</p>
    <br>
    <div style="height: 20px;"></div>
    <span class="midashi mb-4">過去の活動</span>
    <div style="height: 20px;"></div>
    <p class="midashi2">学生交流会の開催</p>
    <div style="height: 20px;"></div>
    <p>&emsp;吃音を持つ学生が交流できる場として、親睦会の開催をしています。</p>
    <br>
    <p style="font-weight: 500">&emsp;《これまでの学生交流会》</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2016-06-03">オープンキャンパス巡り親睦会（2016年6月3日開催）</a></p>
    <br>
    <p>&emsp;駒場Ⅱキャンパスのオープンキャンパスに参加し、障害学に関する講演会に参加しました。</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2016-04-23">サークル設立1周年第2回吃音学生交流会（2016年4月23日開催）</a></p>
    <br>
    <p>&emsp;サークル設立1周年を記念して、交流会を開催しました。</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2015-11-22">駒場祭巡り親睦会（2015年11月22日開催）</a></p>
    <br>
    <p>&emsp;東大の学園祭『駒場祭』をメンバーで巡り、親睦を深めました。</p>
    <br>
    <p class="link">&emsp;<a href="/posts/kitsuonkoryu-2015-04-25">サークル設立記念第1回吃音学生交流会（2015年4月25日開催）</a></p>
    <br>
    <p>&emsp;大阪吃音教室（伊藤伸二さんのグループ）が発行している『どもりカルタ』を使ったゲームを行いました。</p>
    <br>
    <div style="height: 20px;"></div>
    <p class="midashi2">当事者研究会・モデル研究会</p>
    <div style="height: 20px;"></div>
    <p>&emsp;当サークルでは、当事者研究会（モデル研究会）という活動をメインに行っています。
      <br>
      <br>
      &emsp;当事者研究というのは、障害や生きづらさを抱えている当事者の人たちが、自分自身の困りごとについて、仲間と対話しながら「研究していく」営みのことです。もともとは統合失調症のグループ（浦河べてるの家）で始まった営みですが、現在では、障害の垣根を越えて様々なグループに広まり、主に福祉の世界で注目を集めています。オープン・ダイアローグとも共通性のある手法と言われています。
      <br>
      <br>
      &emsp;モデル研究会というのは、既存の学術的知識（説明モデル）をベースにしつつ当事者研究を行い、参加者の経験や事例を用い て、そのテーマに関わる事柄の記述をより豊かで緻密なものにすることを目指します。 扱いとして、勉強会の一種です。
      <br>
      <br>
      &emsp;当サークルでは、これまで、『話し言葉の地図と吃音の関係』などをテーマに、当事者研究会を行ってきました。『人格と吃音の関係』や『演技と吃音の関係』など、これまであまり専門家の人たちが論じてこなかった内容についての知見も蓄積しつつあります。研究の一部は、第4回日本吃音・流暢性学会で発表し、専門家の方からも、注目してもらえました。</p>
      <br>
      <p style="font-weight: 500">&emsp;《これまでの当事者研究会・モデル研究会》</p>
      <br>
      <p class="link">&emsp;<a href="/posts/kitsuontojisya-2016-03-26">第2回吃音モデル研究会（2016年3月26日開催）モデル：『話し言葉の地図』</a></p>
      <br>
      <p style="text-align: right">（平田オリザ『対話のレッスン』、『演劇入門』より）</p>
      <br>
      <p class="link">&emsp;<a href="/posts/kitsuontojisya-2015-12-26">第1回吃音当事者研究会（2015年12月26日開催）テーマ：『吃音を制御することについて』</a></p>
      <br>
      <p class="link">&emsp;<a href="/posts/kitsuontojisya-2015-10-17">第1回吃音モデル研究会（2015年10月17日開催）モデル：『ヴァン・ライパーの吃音進展図』</a></p>
      <br>
      <p style="text-align: right">（菊池良和『エビデンスに基づいた吃音支援入門』より）</p>
      <br>
      <div style="height: 20px;"></div>
      <p class="midashi2">吃音ツール研究会</p>
      <div style="height: 20px;"></div>
      <p class="link">&emsp;当サークルでは、吃音ツール研究会を開催しています。吃音ツール研究会とは、『吃音者が安心して人と話ができるための新しいツール』について考える研究会です。
        <br><br>
      &emsp;「何か新しいことを始めてみたい」、「支援機器の開発に興味がある」、「吃音について研究してみたい」など、動機はなんでも結構です。興味を持たれた方や、参加を希望する方は、[ <a href="mailto:ut-stuttering@outlook.jp">ut-stuttering[at]outlook.jp</a> ]&nbsp;まで、ご連絡ください。
      <br><br>
      &emsp;既存の吃音に対する枠組みにとらわれないような、ユニークな発想や案を募集しています。</p>
      <br>
      <p style="font-weight: 500">&emsp;《これまでの吃音ツール研究会》</p>
      <br>
      <p>&emsp;第3回吃音ツール研究会（2016年6月18日開催）</p>
      <br>
      <p>&emsp;第2回吃音ツール研究会（2016年5月28日開催）</p>
      <br>
      <p>&emsp;第1回吃音ツール研究会（2016年5月7日開催）</p>
      <br>
      <div style="height: 20px;"></div>
      <p class="midashi2">文三劇場への参加</p>
      <div style="height: 20px;"></div>
      <p>&emsp;当サークルでは、2016年11月22日、旗揚げ公演『ことばがひらかれるとき』の上演を行いました。吃音者の『対話』を題材にした1時間の劇を、メンバーで作り、約200人の観客の前で上演しました。
      <br><br>
        &emsp;取り組みは、東大新聞・毎日新聞・TBSなど複数のメディアで報じられました。</p>
      <br>
      <p style="font-weight: 500">&emsp;《これまでの公演》</p>
      <br>
      <p class="link">&emsp;<a href="/posts/koen-2016-11-22">東大スタタリング第1回公演『ことばがひらかれるとき』</a></p>
      <br>
      <p style="text-align: right">（作・山田舜也／演出・滝本みか／出演・石橋優樹、稲垣昂、郡、宋理、田中宇、千葉一輝、デイジー愛伶）</p>
      <br>
      <div style="height: 20px;"></div>
      <p class="midashi2">吃音関連の学会・大会への参加</p>
      <div style="height: 20px;"></div>
      <p>&emsp;日本吃音・流暢性障害学会、言友会全国大会など、学外の吃音関連のイベントに参加しています。</p>
      <br>
      <p style="font-weight: 500">&emsp;《これまでの参加》</p>
      <br>
      <p class="link">&emsp;第67回駒場祭福祉系サークル合同展示（2016年11月25日～27日）</p>
      <br>
      <p>&emsp;​吃音関係の大会ではありませんが、東大の学園祭『駒場祭』で、一般向けに吃音についてのポスター展示を行いました。</p>
      <br>
      <p class="link">&emsp;<a href="https://saitama-genyukai.jimdofree.com/吃音ワークショップ-報告-感想集/">第50回言友会全国大会・吃音ワークショップ2016 in 埼玉（2016年9月18日）</a></p>
      <br>
      <p>&emsp;当事者研究会（モデル研究会）の分科会を担当しました。</p>
      <br>
      <p class="link">&emsp;<a href="https://www.jssfd.org/dl/jssfd_extract_2016_01.pdf">第4回日本吃音・流暢性障害学会（2016年9月2日）</a></p>
      <br>
      <p>&emsp;埼玉言友会と、当サークルで開催した『話し言葉の地図』（平田オリザ）についてのモデル研究会の成果について発表しました。</p>
  </div>
</Layout>