---
import Layout from "../layouts/Layout.astro";
---

<Layout title="活動紹介・東京大学スタタリング">
  <div class="margin-contents text-color text-font" style="margin-bottom: 80px;">
    <span class="midashi mb-4">活動紹介</span>
    <div style="height: 20px;"></div>
    <p>&emsp;東京大学駒場キャンパス周辺で定期的に活動を行っています。</p>
    
  </div>
</Layout>