---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ・東京大学スタタリング">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">お問い合わせ</span>
    <div style="height: 20px;"></div>
    <p class="link">&emsp;当サークルに関心をお持ちくださいました方は、お気軽に&nbsp;[ <a href="mailto:ut-stuttering[at]outlook.jp"
      >ut-stuttering[at]outlook.jp</a
    >
    ]&nbsp;までお問い合わせください。
      <br>
      <br>
      &emsp;活動への参加をご希望される方は、以下の事項をご記載お願いいたします。</p>
    <br>
    <p style="margin-bottom: 80px;">&emsp;・名前（氏名の一部・ニックネーム・通称名も可）<br>
      &emsp;・所属<br>
      &emsp;・学年（または、およその年齢）<br>
      &emsp;・吃音について（当事者の方は吃音歴など。非吃音者の方は吃音について知りたいと思ったきっかけなど）<br>
      &emsp;・当サークルでやってみたいこと（勉強会で取り上げて欲しいテーマなど。特になければ「なし」で構いません）</p>
  </div>
</Layout>