---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お問い合わせ・東京大学吃音研究会">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">お問い合わせ</span>
    <div style="height: 20px;"></div>
    <p class="link">&emsp;当サークルに関心をお持ちくださいました方は、お気軽に&nbsp;[ <a href="mailto:ut.kitsuonken[at]gmail.com"
      >ut.kitsuonken[at]gmail.com</a
    >
    ]&nbsp;までお問い合わせください。
      
  </div>
</Layout>