---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お知らせ・東京大学吃音研究会">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">お知らせ</span>
    <div style="height: 20px;"></div>
    <p></p>
  </div>
</Layout>