---
import Layout from "../layouts/Layout.astro";
---

<Layout title="お知らせ・東京大学スタタリング">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">お知らせ</span>
    <div style="height: 20px;"></div>
    <p>2024.10.02　ホームページをリニューアルしました。</p>
  </div>
</Layout>