---
import Layout from "../layouts/Layout.astro";
---

<Layout title="検索｜東京大学スタタリング">
  <div class="margin-contents text-color text-font">
    <span class="midashi mb-4">Search</span>
    <div style="height: 15px;"></div>
    <p class="italic">検索機能を導入予定です。</p>
    <div style="height: 30px;"></div>
  </div>
</Layout>
