---

---

<button
  type="button"
  id="theme-btn"
  class=""
  style="margin: 0px;"
  title="Toggles light & dark"
  aria-label="auto"
  aria-live="polite"
>
  <div style="font-size: 24px;">
    <i id="moon-icon" class="ri-moon-line"></i>
    <i id="sun-icon" class="ri-sun-line"></i>
  </div>
</button>
