---

---

<footer class="text-color font-body">
  <div class="flex justify-center items-center p-2 respt-f">
    <span class="flex items-center resp-pc-f"
      ><a class="font-medium text-base"
        >Copyright &#169; 2024｜All rights reserved.&nbsp;&nbsp;／&nbsp;&nbsp;<a
          href="https://x.com/ut_stuttering"
          ><i
            class="ri-twitter-x-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
        ><a href="mailto:ut-stuttering@outlook.jp"
          ><i
            class="ri-mail-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
        >
        <!-- <a href="https://github.com/luetsrr"
          ><i
            class="ri-github-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 22px;"
          ></i></a
  > -->
      </a>
    </span>
    <span class="flex items-center resp-sm-f">
      <div class="flex items-center justify-center">
        <a href="https://x.com/ut_stuttering"
          ><i
            class="ri-twitter-x-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 26px;"
          ></i></a
        ><a href="mailto:ut-stuttering@outlook.jp"
          ><i
            class="ri-mail-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 26px;"
          ></i></a
        >
        <!-- <a href="https://github.com/luetsrr"
          ><i
            class="ri-github-line hover-color"
            style="padding-right: 5px; padding-left: 5px; font-size: 26px;"
          ></i></a
      > -->
      </div>
      <div style="height: 10px;"></div>
      <a class="font-normal text-base">
        <p>Copyright &#169; 2024</p>
        <p>All rights reserved.</p>
      </a>
    </span>
  </div>
</footer>
